
.icon-login:before { content: '\e800'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */